</br><%= link_to 'Add a Product', new_product_path %>
<h1>Products List</h1>
  <table>
    <thead>
      <tr>
        <th>Cost</th>
        <th>Item</th>
        <th>Description</th>
      </tr>
    </thead>
<% @products.each do |product| %>
    <tr>
      <td><%= product.price_in_cents %></td>
      <td><%= link_to product.name, product_path(product) %></td>
      <td><%= product.description %></td>
    </tr>
<% end %>
  </table>
